
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}
<div class="container__news">
    <div class="container__content">
        <div class="container__content-news">
            <h3>Tin tức</h3>
            <ul class="container-news-list">
                <li class="container-news-item">
                    <a href="News/news1.html"><img src="images/news1.jpg" alt=""></a>
                    <div class="content">
                        <p class="news-date">24 tháng 7, 2017</p>
                        <p class="news-heading">Chống nước 5ATM là gì?</p>
                        <p class="news-content">Khi mua đồng hồ các bạn thường nhìn thấy trên mặt đồng hồ những kí hiệu như : WR 50M, 5 BAR, 10 ATM …Vậy những chỉ số đó có ý nghĩa gì về thông số và cách sử dụng đồng hồ, sau đây DYOSS sẽ khái quát sơ qua về những kí hiệu này. […]</p>
                        <a href="News/news1.html" class="news-btn">Xem chi tiết</a>
                    </div>
                </li>
                <li class="container-news-item">
                    <a href="News/news2.html"><img src="images/news2.jpg" alt=""></a>
                    <div class="content">
                        <p class="news-date">24 tháng 7, 2017</p>
                        <p class="news-heading">Tự đánh bóng đồng hồ đeo tay đơn giản tại nhà</p>
                        <p class="news-content">Trong tất cả các loại đồng hồ có mặt trên thị trường hiện nay thì đồng hồ vỏ kim loại có phần phổ biến hơn các loại khác. Đồng hồ kim loại được yêu thích nhờ lớp vỏ sáng bóng, sang trọng; tuy nhiên đây cũng là loại vỏ dễ bị hư hại, trầy xước […]</p>
                        <a href="News/news2.html" class="news-btn">Xem chi tiết</a>
                    </div>
                </li>
                <li class="container-news-item">
                    <a href="News/news3.html"><img src="images/news3.jpg" alt=""></a>
                    <div class="content">
                        <p class="news-date">24 tháng 7, 2017</p>
                        <p class="news-heading">Cách bảo quản đồng hồ đeo tay hằng ngày</p>
                        <p class="news-content">Đồng hồ trong nhịp sống hiện đại ngày nay dường như đã trở thành một người bạn không thể thiếu, luôn đồng hành mọi lúc mọi nơi cạnh bên các bạn trẻ năng động, bận rộn. Thế nhưng, việc đeo đồng hồ hằng ngày vô tình khiến chúng ta quên đi việc phải bảo quản […]</p>
                        <a href="News/news3.html" class="news-btn">Xem chi tiết</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
