.container__news{
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

.container__content-heading{
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.container__content-heading ul{
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
}

.container__content-heading li a{
    text-decoration: none;
    color: black;
}

.container__content-heading li:after{
    content: "/";
    margin: 0 10px;
    pointer-events: none;
}

.container__content-heading li:last-child::after{
    content: "";
}

.container__content-heading li a:hover{
    text-decoration: underline;
}

.container__content-news{
    padding-top: 40px;
}

.container__content-news h3{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-weight: 300;
}

.container-news-list{
    width: 70%;
    list-style: none;
    margin: 0 auto;
}

.container-news-item{
    display: block;
    align-items: center;
    padding: 80px 0;
    border-bottom: 1px solid rgb(190, 190, 190);
    margin-bottom: 50px;
}

.container-news-item.news{
    padding: 0;
    border: none;
}

.content{
    text-align: center;
}

.container-news-item img{
    background-size: contain;
    width: 100%;
    margin-bottom: 30px;
}

.news-date{
    text-transform: uppercase;
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}

.news-date.news{
    text-align: center;
}

.news-heading{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    color: black;
}

.news-heading.news{
    text-align: center;
    font-size: 40px;
}

.news-content{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 10px;
}

.news-btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--primary-color);
    min-width: 220px;
    height: 45px;
    line-height: 45px;
    border-radius: 2px;
    margin-top: 20px;
    transition: 0.3s;
}

    .news-btn:hover {
        text-decoration: none;
        background-color: white;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }