
@{
    ViewBag.Title = "Insert";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Do_An.Frameworks.DANHMUC
<div class="card shadow mb-auto">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm Danh Mục</h6>
    </div>
    <div class="card-body">
        @if (TempData["Alert-Message"] != null)
        {
            <div class="alert @TempData["AlertType"]" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>@TempData["Alert-Message"]</strong>
            </div>
        }
        @using (Html.BeginForm("Insert", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Tên Danh Mục</label>
                    @Html.TextBoxFor(model => model.TenDM, new { @class = "form-control", id = "inputName", required = "required" })
                </div>
            </div>



            <div class="dropdown-divider"></div>
            <div class="form-row flex-row-reverse">
                <button class="btn btn-success" type="submit">Save</button>
                <a href="@ViewBag.URL" class="btn btn-light btn-icon-split" style="margin-right:10px;">
                    <span class="icon text-gray-600">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text">Back</span>
                </a>
            </div>
        }
    </div>
</div>



